.adv {
  box-shadow: 0 8px 32px 0 rgba(25, 25, 28, 0.12);
  background: #fff;
  padding: 10px;
  transform: translateY(-50%);

  &__list {
    padding: 37px 30px;
    border: 1px solid #f0e9e3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 80px;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
      content: "";
      display: block;
      border-radius: 100%;
      width: 7px;
      height: 7px;
      background-color: var(--accent-color);
    }

    font-weight: 300;
    font-size: 18px;
    color: #212121;
  }
}