.app {
  padding-top: 87px;
  padding-bottom: 100px;
  position: relative;

  @include tablet {
    padding: 80px 0;
    padding-bottom: 0;
  }

  @include small-tablet {
    padding: 60px 0;
    padding-bottom: 0;
  }

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 86.6%;
    height: 100%;
    border-top-left-radius: 300px;
    background-color: #f1f3fe;

    @include big-desktop {
      border-top-left-radius: 200px;
    }

    @include tablet {
      border-top-left-radius: 100px;
      width: 100%;
    }

    @include small-tablet {
      border-top-left-radius: 0;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 48%;

    @include tablet {
      position: relative;
      margin-left: auto;
      margin-top: -100px;
    }

    @include small-tablet {
      margin-top: 0;
      margin: 0 auto;
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    @include tablet {
      grid-template-columns: 1fr;
    }

  }

  &__content {
    grid-column: 6 / 7 span;

    @include tablet {
      grid-column: 1;
    }
  }

  &__title {
    margin-bottom: 35px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 0px;
    margin-bottom: 40px;

    @include small-tablet {
      grid-template-columns: 1fr;
      gap: 27px;
    }
  }
}

.app-item {
  display: flex;
  align-items: flex-start;
  gap: 13px;

  @include small-tablet {
    align-items: center;
  }

  &__fig {
    position: relative;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 80px;
    color: #c39683;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 75%;
      width: 30px;
      background-color: #f1f3fe;
      border-right: 1px solid #d1d4e9;
      transform: rotate(20deg) translate(-20%, 0%);
    }
  }

  &__desc {
    margin: 0;
    font-weight: 300;
    font-size: 17px;
    line-height: 153%;
    color: var(--text-color);

    @include small-tablet {
      font-size: 15px;
      line-height: 167%;
    }
  }
}