.faq {
  padding: 104px 0;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: -1;
    width: 588px;
    height: 444px;
    opacity: .5;
    background-image: url('./../img/dotted-gray.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    @include small-tablet {
      display: none;
    }
  }

  @include tablet {
    padding: 80px 0;
  }

  &__title {
    margin-bottom: 31px;
  }

  &__list {
    position: relative;
  }

  &__item {
    padding: 24.7px 22px;
    border: 1px solid #e0ddda;
    transition: background-color .3s ease-out;
    position: relative;
    background-color: #fff;
    transition: background-color .3s ease-out;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &.active {
      background-color: var(--accent-color);

      .faq__header {
        padding-bottom: 13px;

        svg {

          transform: rotate(90deg);
          fill: var(--white-color);

        }
      }

      .faq__name {
        color: var(--white-color);
      }
    }
  }

  &__header {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: padding-bottom .3s ease-in;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
    }

    svg {
      width: 13px;
      height: 12px;
      object-fit: contain;
      fill: var(--accent-color);
      transition: fill .3s ease-out, transform .3s ease-out;
      flex-shrink: 0;
    }
  }

  &__name {
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color);
    transition: color .3s ease-out;
  }

  &__content {
    box-sizing: content-box;
    padding-left: 34px;
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: max-height .3s ease-out;
  }

  &__desc {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    color: var(--white-color);

    @include mobile {
      font-size: 14px;
    }
  }
}