.header {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 100;

  &.active {
    .header__logo {
      opacity: 0;
      z-index: -1;
    }
  }

  &__burger {
    display: none;
    position: relative;
    z-index: 12;

    @include tablet {
      display: block;
    }

    width: 47px;
    height: 47px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 4px 13px 0 rgba(30, 35, 66, 0.11);
    background: #fff;
  }

  &__logo {
    width: 286px;
    height: 80px;
    transition: opacity .3s ease-out, z-index .3s ease-out;

    @include big-desktop {
      width: 250px;
      height: 72px;
    }

    @include small-tablet {
      width: unset;
      height: 60px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tel {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 28px;
    text-align: right;
    color: var(--text-color);
    position: relative;

    @include tablet {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1.2px;
      width: 0;
      background-color: var(--text-color);
      transition: width .3s ease-out;
    }

    @include hover {
      &::after {
        width: 100%;
      }
    }
  }
}