.lifting {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;

  &__bg {
    position: absolute;
    background-color: #f1f3fe;
    border-top-left-radius: 300px;
    left: 0;
    top: 0;
    left: -80px;
    width: 100%;
    height: 100%;

    @include big-desktop {
      border-top-left-radius: 200px;
    }

    @include tablet {
      border-top-left-radius: 100px;
      left: 0;
    }

    @include small-tablet {
      border-top-left-radius: 0;
    }
  }

  @include small-tablet {
    padding: 60px 0;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;

    @include small-tablet {
      grid-template-columns: 1fr;
      gap: 38px;
    }
  }

  &__btn {
    @include mobile {
      justify-content: flex-start;
    }
  }

  &__text {
    position: relative;
    z-index: 3;
    grid-column: 5 span;

    @include small-tablet {
      grid-column: 1;
    }
  }

  &__content {
    position: sticky;
    top: 0;
  }

  &__items {
    grid-column: 6 / 7 span;

    @include small-tablet {
      grid-column: 1;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include small-tablet {
      margin-bottom: 32px;
    }
  }
}

.proc {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 12px;

  @include small-tablet {
    margin-bottom: 25px;
  }

  @include small-tablet {
    justify-content: unset;
  }

  &:last-child {
    margin-bottom: 35px;

    @include small-tablet {
      margin-bottom: 30px;
    }
  }

  &__fig {
    // flex-shrink: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 80px;
    color: #c39683;

    @include tablet {
      font-size: 60px;
    }
  }

  &__sep {
    flex-grow: 1;
    flex-shrink: 0;
    display: block;
    height: 68px;
    width: 20px;
    margin: 0 14px;
    position: relative;

    @include tablet {
      height: 48px;
      margin: 0 8px;
    }

    @include small-tablet {
      flex-grow: 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0%);
      width: 1px;
      height: 100%;
      background-color: #D1D4E9;
      transform: rotate(20deg);
    }
  }

  &__text {
    font-weight: 300;
    font-size: 22px;
    line-height: 136%;
    color: #212121;
    align-self: center;

    @include tablet {
      font-size: 16px;
    }
  }
}

.lift {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  border: 2px solid #cfd4f2;
  position: relative;

  @include tablet {
    padding-right: 10px;
  }

  @include mobile {
    flex-direction: column;
    gap: 19px;
  }

  &__dot {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #f1f3fe;

    &:nth-child(1) {
      left: 0;
      top: 0;
      transform: translate(-50%, -50%);
    }

    &:nth-child(2) {
      right: 0;
      bottom: 0;
      transform: translate(50%, 50%);
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: var(--accent-color);
    }


  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__img {
    width: 124px;
    height: 124px;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;

    @include tablet {
      width: 90px;
      height: 90px;
    }

    @include mobile {
      width: 80px;
      height: 80px;
    }

    img {
      width: 100%;
      height: 100%;
    }

    &-wrap {
      display: flex;
      align-items: center;
      gap: 25px;
    }
  }

  &__title {
    position: relative;
    z-index: 4;
    margin: 0;
    margin-bottom: 5px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 42px;
    color: var(--text-color);

    @include mobile {
      display: none;
      font-size: 32px;
    }

    &--mob {
      display: none;

      @include mobile {
        display: block;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }

  &__item {
    font-weight: 300;
    font-size: 15px;
    line-height: 160%;
    color: var(--text-color);
  }
}