.mech {
  padding-top: 110px;
  padding-bottom: 110px;

  &__row {
    display: flex;
    align-items: center;
    gap: 55px;

    &:not(:last-child) {
      margin-bottom: 90px;
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &__img {
    flex-shrink: 0;
    width: 43%;
    aspect-ratio: 1 / 1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__video {
    position: relative;
    width: 46%;

    video {
      width: 100%;
      height: auto;
    }
  }

  &__play {
    position: absolute;
    width: 68px;
    height: 68px;
    background-color: #fff;
    border-radius: 100%;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__desc {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}