.quiz {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
  overflow: hidden;

  @include tablet {
    padding: 63px 0;
  }

  &__slider {
    .swiper-wrapper {
      align-items: flex-start;
    }
  }

  &__slide {}

  &__images {
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: 100px;
    height: 100%;
    width: 750px;

    @include tablet {
      display: none;

    }
  }

  &__image {
    position: absolute;
    right: 0px;
    z-index: 4;
    // bottom: -130px;
    bottom: 0;
    width: 100%;
    height: 100%;

    &--contain {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 90%;
      width: 90%;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }

    img {
      height: 100%;
      // width: 100%;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__desc {
    margin: 0;
    margin-bottom: 65px;
    max-width: 510px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: var(--text-color);

    @media (max-width: 850px) {
      margin-bottom: 30px;
    }
  }

  &__wrapper {
    position: absolute;
    inset: 0;
    z-index: -1;
    height: 100%;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 1px;
      right: 0;
      height: 73%;
      width: 28%;
      background-color: #0d2dd2;
      border-top-left-radius: 300px;

      @include big-desktop {
        border-top-left-radius: 200px;
      }

      @include tablet {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      right: 14%;
      bottom: 85px;
      width: 348px;
      height: 300px;
      background-image: url('./../img/dotted.svg');
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;

      @include tablet {
        display: none;
      }
    }
  }

  &__bg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 88%;
    background-color: #f1e7dc;
    border-top-right-radius: 300px;
    overflow: hidden;

    @include big-desktop {
      border-top-right-radius: 200px;
    }

    @include tablet {
      width: 100%;
      border-top-right-radius: 0;
    }
  }

  &__que {
    margin: 0;
    margin-bottom: 20px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    color: var(--text-color);

    @include tablet {
      font-size: 30px;
    }

    @include small-tablet {
      font-size: 24px;
    }
  }

  &__vars {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;

    @include tablet {
      flex-direction: column;
      gap: 6px;
    }
  }

  &__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      &+.quiz__label {
        background-color: #154b8b;
        color: var(--white-color);
      }
    }
  }

  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #154b8b;
    flex: 1;
    max-width: 186px;
    min-height: 107px;
    background-color: var(--white-color);

    transition: background-color .3s ease-out, color .3s ease-out;

    @include tablet {
      max-width: unset;
      min-height: unset;
      padding: 13px;
    }
  }

  &__slider {

    .swiper-wrapper {}

    .swiper-slide {
      position: static;
    }

    .swiper-pagination {
      position: relative;
      bottom: unset;
      left: unset;
      right: unset;
      top: unset;
      justify-content: flex-start;
      text-align: left;
      padding: 12px 0;
      margin-bottom: 12px;

      &-bullet {
        width: 9px;
        height: 9px;
        background-color: #c39683;
        margin: 0 12px !important;

        &-active {
          outline: 1px solid #c39683 !important;
          outline-offset: 7px;
        }
      }
    }
  }
}