/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
:root {
  --font-family: "Museosans", sans-serif;
  --second-family: "Bodoni72C", sans-serif;
  --third-family: "Gilroy", sans-serif;
  --font3: "Caveat", sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --white-color: #ffffff;
  --text-color: #212121;
  --accent-color: #c39683;
  --red-color: #e41B4b;
}
@media (max-width: 1200px) {
  :root {
    --content-width: 850px;
  }
}
@media (max-width: 768px) {
  :root {
    --content-width: 580px;
  }
}
@media (max-width: 576px) {
  :root {
    --content-width: 100%;
    --container-offset: 20px;
  }
}

@font-face {
  font-family: "Bodoni72C";
  src: url("../fonts/../fonts/Bodoni72C.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  src: url("../fonts/../fonts/Caveat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/../fonts/Gilroy-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Museosans";
  src: url("../fonts/../fonts/Museosans-300.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Museosans";
  src: url("../fonts/../fonts/Museosans-500.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Museosans";
  src: url("../fonts/../fonts/Museosans-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-left {
  padding-left: calc((100% - var(--container-width)) / 2);
}

.container-right {
  padding-right: calc((100% - var(--container-width)) / 2);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  display: inline-block;
  border-radius: 2px;
  padding: 21px 25px;
  font-weight: 600;
  font-size: 16px;
  color: var(--white-color);
  background-color: #c39683;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: #e2af99;
  }
}
@media (max-width: 1200px) {
  .btn {
    padding: 15px;
    font-size: 15px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .btn {
    padding: 15px 27px;
  }
}

.title2 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 54px;
  color: var(--text-color);
}
@media (max-width: 1200px) {
  .title2 {
    font-size: 46px;
  }
}
@media (max-width: 1024px) {
  .title2 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .title2 {
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  .title2 {
    font-size: 32px;
  }
}

.desc {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 17px;
  line-height: 176%;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .desc {
    font-size: 16px;
    line-height: none;
  }
}

.header {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header.active .header__logo {
  opacity: 0;
  z-index: -1;
}
.header__burger {
  display: none;
  position: relative;
  z-index: 12;
  width: 47px;
  height: 47px;
  border-radius: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 13px 0 rgba(30, 35, 66, 0.11);
  box-shadow: 0 4px 13px 0 rgba(30, 35, 66, 0.11);
  background: #fff;
}
@media (max-width: 1024px) {
  .header__burger {
    display: block;
  }
}
.header__logo {
  width: 286px;
  height: 80px;
  -webkit-transition: opacity 0.3s ease-out, z-index 0.3s ease-out;
  transition: opacity 0.3s ease-out, z-index 0.3s ease-out;
}
@media (max-width: 1200px) {
  .header__logo {
    width: 250px;
    height: 72px;
  }
}
@media (max-width: 768px) {
  .header__logo {
    width: unset;
    height: 60px;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__tel {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  text-align: right;
  color: var(--text-color);
  position: relative;
}
@media (max-width: 1024px) {
  .header__tel {
    display: none;
  }
}
.header__tel::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.2px;
  width: 0;
  background-color: var(--text-color);
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
@media (any-hover: hover) {
  .header__tel:hover::after {
    width: 100%;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1200px) {
  .nav__list {
    gap: 15px;
  }
}
@media (max-width: 1024px) {
  .nav__list {
    display: none;
  }
}
.nav__item {
  position: relative;
}
.nav__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.2px;
  width: 0;
  background-color: var(--text-color);
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
@media (any-hover: hover) {
  .nav__item:hover::after {
    width: 100%;
  }
}
.nav__link {
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color);
}

.hero {
  padding-top: 196px;
  padding-bottom: 166px;
  background-color: #f1e7dc;
  border-bottom-left-radius: 300px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .hero {
    border-bottom-left-radius: 200px;
  }
}
@media (max-width: 1024px) {
  .hero {
    border-bottom-left-radius: 100px;
  }
}
@media (max-width: 1024px) {
  .hero {
    padding-top: 140px;
  }
}
@media (max-width: 768px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 0;
    border-bottom-left-radius: 0;
  }
}
.hero__container {
  position: relative;
}
.hero__girl {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -86px;
  height: 646px;
}
.hero__girl::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -76px;
  bottom: 124px;
  width: 80%;
  height: 90%;
  background-image: url("./../img/dotted-gray.svg");
  background-position: center center;
  background-size: content;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .hero__girl::after {
    bottom: 40px;
    right: -20px;
  }
}
@media (max-width: 1200px) {
  .hero__girl {
    height: 546px;
  }
}
@media (max-width: 1024px) {
  .hero__girl {
    height: 500px;
  }
}
@media (max-width: 768px) {
  .hero__girl {
    position: relative;
    right: unset;
    bottom: unset;
    height: 350px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .hero__girl {
    height: 318px;
    -webkit-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    transform: translateX(-20%);
  }
}
.hero__girl img {
  height: 100%;
}
.hero__content {
  position: relative;
  z-index: 5;
  max-width: 650px;
}
@media (max-width: 1024px) {
  .hero__content {
    max-width: 500px;
  }
}
.hero__subtitle {
  display: inline-block;
  margin: 0;
  margin-bottom: 34px;
  border-radius: 25px 32px 32px 0;
  padding: 10px 32px;
  background-color: var(--red-color);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}
@media (max-width: 1200px) {
  .hero__subtitle {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  .hero__subtitle {
    padding: 8px 28px;
    margin-bottom: 28px;
  }
}
@media (max-width: 576px) {
  .hero__subtitle {
    border-radius: 17px 21px 21px 0;
    padding: 6px 21px;
    font-size: 16px;
  }
}
.hero__title {
  margin: 0;
  margin-bottom: 62px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 66px;
  color: var(--text-color);
}
@media (max-width: 1200px) {
  .hero__title {
    margin-bottom: 58px;
    font-size: 60px;
  }
}
@media (max-width: 1024px) {
  .hero__title {
    margin-bottom: 40px;
    font-size: 52px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 44px;
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 40px;
  }
}
.hero__desc {
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--font3);
  font-weight: 700;
  font-size: 32px;
  color: var(--text-color);
}
@media (max-width: 1200px) {
  .hero__desc {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .hero__desc {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
.hero__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 42px;
}
@media (max-width: 1200px) {
  .hero__btn {
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .hero__btn {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.hero__btn img {
  display: block;
  width: 26px;
  height: 26px;
}

.adv {
  -webkit-box-shadow: 0 8px 32px 0 rgba(25, 25, 28, 0.12);
  box-shadow: 0 8px 32px 0 rgba(25, 25, 28, 0.12);
  background: #fff;
  padding: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  z-index: 3;
}
@media (max-width: 768px) {
  .adv {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .adv {
    margin: 0 20px;
  }
}
.adv__list {
  padding: 37px 30px;
  border: 1px solid #f0e9e3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 80px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .adv__list {
    padding: 25px 15px;
    gap: 24px 40px;
  }
}
@media (max-width: 768px) {
  .adv__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .adv__list {
    padding: 17px 24px 21px;
  }
}
.adv__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  font-weight: 300;
  font-size: 18px;
  color: #212121;
}
.adv__item::before {
  content: "";
  display: block;
  border-radius: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 7px;
  height: 7px;
  background-color: var(--accent-color);
}
@media (max-width: 576px) {
  .adv__item {
    font-size: 15px;
  }
}

.method {
  position: relative;
}
.method__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}
@media (max-width: 850px) {
  .method__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .method__container {
    gap: 15px;
  }
}
.method__img {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.method__img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 348px;
  height: 300px;
  background-image: url("./../img/dotted-blue.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .method__img::after {
    height: 250px;
    background-size: 290px;
    -webkit-transform: translate(-30%, -50%);
    -ms-transform: translate(-30%, -50%);
    transform: translate(-30%, -50%);
  }
}
@media (max-width: 1200px) {
  .method__img {
    -ms-grid-column-span: 5;
    grid-column: 5 span;
  }
}
@media (max-width: 850px) {
  .method__img {
    -ms-grid-column: 1;
    grid-column: 1;
    height: 350px;
  }
  .method__img picture {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}
.method__img img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.method__content {
  -ms-grid-column-span: 8;
  grid-column: 8 span;
  padding-top: 55px;
  padding-left: 44px;
  padding-bottom: 20px;
}
@media (max-width: 1200px) {
  .method__content {
    -ms-grid-column-span: 7;
    grid-column: 7 span;
    padding-left: 0;
    padding-top: 0;
  }
}
@media (max-width: 850px) {
  .method__content {
    -ms-grid-column: 1;
    grid-column: 1;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}
.method__title {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .method__title {
    margin-bottom: 12px;
  }
}
.method__desc:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .method__desc:not(:last-child) {
    margin-bottom: 12px;
  }
}

.lifting {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
}
.lifting__bg {
  position: absolute;
  background-color: #f1f3fe;
  border-top-left-radius: 300px;
  left: 0;
  top: 0;
  left: -80px;
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .lifting__bg {
    border-top-left-radius: 200px;
  }
}
@media (max-width: 1024px) {
  .lifting__bg {
    border-top-left-radius: 100px;
    left: 0;
  }
}
@media (max-width: 768px) {
  .lifting__bg {
    border-top-left-radius: 0;
  }
}
@media (max-width: 768px) {
  .lifting {
    padding: 60px 0;
  }
}
.lifting__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}
@media (max-width: 768px) {
  .lifting__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 38px;
  }
}
@media (max-width: 576px) {
  .lifting__btn {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.lifting__text {
  position: relative;
  z-index: 3;
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}
@media (max-width: 768px) {
  .lifting__text {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}
.lifting__content {
  position: sticky;
  top: 0;
}
.lifting__items {
  grid-column: 6/7 span;
}
@media (max-width: 768px) {
  .lifting__items {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}
.lifting__title {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .lifting__title {
    margin-bottom: 32px;
  }
}

.proc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .proc {
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .proc {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
}
.proc:last-child {
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .proc:last-child {
    margin-bottom: 30px;
  }
}
.proc__fig {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 80px;
  color: #c39683;
}
@media (max-width: 1024px) {
  .proc__fig {
    font-size: 60px;
  }
}
.proc__sep {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  height: 68px;
  width: 20px;
  margin: 0 14px;
  position: relative;
}
@media (max-width: 1024px) {
  .proc__sep {
    height: 48px;
    margin: 0 8px;
  }
}
@media (max-width: 768px) {
  .proc__sep {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}
.proc__sep::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  width: 1px;
  height: 100%;
  background-color: #D1D4E9;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.proc__text {
  font-weight: 300;
  font-size: 22px;
  line-height: 136%;
  color: #212121;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
@media (max-width: 1024px) {
  .proc__text {
    font-size: 16px;
  }
}

.lift {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 30px;
  border: 2px solid #cfd4f2;
  position: relative;
}
@media (max-width: 1024px) {
  .lift {
    padding-right: 10px;
  }
}
@media (max-width: 576px) {
  .lift {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 19px;
  }
}
.lift__dot {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f1f3fe;
}
.lift__dot:nth-child(1) {
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lift__dot:nth-child(2) {
  right: 0;
  bottom: 0;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.lift__dot::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--accent-color);
}
.lift:not(:last-child) {
  margin-bottom: 30px;
}
.lift__img {
  width: 124px;
  height: 124px;
  border-radius: 100%;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .lift__img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 576px) {
  .lift__img {
    width: 80px;
    height: 80px;
  }
}
.lift__img img {
  width: 100%;
  height: 100%;
}
.lift__img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px;
}
.lift__title {
  position: relative;
  z-index: 4;
  margin: 0;
  margin-bottom: 5px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 42px;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .lift__title {
    display: none;
    font-size: 32px;
  }
}
.lift__title--mob {
  display: none;
}
@media (max-width: 576px) {
  .lift__title--mob {
    display: block;
  }
}
.lift__list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}
.lift__item {
  font-weight: 300;
  font-size: 15px;
  line-height: 160%;
  color: var(--text-color);
}

.compare {
  padding-top: 80px;
  padding-bottom: 112px;
}
@media (max-width: 1024px) {
  .compare {
    padding-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .compare {
    padding: 60px 0;
  }
}
.compare__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
.compare__capture {
  max-width: 650px;
}
.compare__title {
  margin-bottom: 10px;
}
.compare__desc {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 125%;
  color: var(--text-color);
}
@media (max-width: 768px) {
  .compare__desc {
    font-size: 16px;
    line-height: none;
  }
}
.compare__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 33px;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .compare__control {
    display: none;
  }
}
.compare__control--mob {
  display: none;
  padding: 0 var(--container-offset);
}
@media (max-width: 576px) {
  .compare__control--mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.compare__btn {
  display: block;
  width: 50px;
  height: 50px;
}
.compare__btn svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
@media (max-width: 576px) {
  .compare__slider {
    padding: 0 20px;
  }
}
.compare__slider .swiper-slide {
  width: auto;
}
@media (max-width: 576px) {
  .compare__slider {
    margin-bottom: 25px;
  }
}
.compare__slide {
  height: 444px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
@media (max-width: 1024px) {
  .compare__slide {
    height: 390px;
  }
}
@media (max-width: 768px) {
  .compare__slide {
    height: 200px;
  }
}
.compare__slide img {
  height: 100%;
}

.quiz {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
  overflow: hidden;
}
@media (max-width: 850px) {
  .quiz {
    padding: 63px 0;
  }
}
.quiz__images {
  position: absolute;
  z-index: 4;
  bottom: 0;
  right: 100px;
  height: 100%;
  width: 600px;
}
@media (max-width: 1024px) {
  .quiz__images {
    right: 0;
  }
}
@media (max-width: 850px) {
  .quiz__images {
    display: none;
  }
}
.quiz__image {
  position: absolute;
  right: 0;
  z-index: 4;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.quiz__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.quiz__title {
  margin-bottom: 20px;
}
.quiz__desc {
  margin: 0;
  margin-bottom: 65px;
  max-width: 510px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  color: var(--text-color);
}
@media (max-width: 850px) {
  .quiz__desc {
    margin-bottom: 30px;
  }
}
.quiz__wrapper {
  position: absolute;
  inset: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.quiz__wrapper::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 1px;
  right: 0;
  height: 73%;
  width: 28%;
  background-color: #0d2dd2;
  border-top-left-radius: 300px;
}
@media (max-width: 1200px) {
  .quiz__wrapper::after {
    border-top-left-radius: 200px;
  }
}
@media (max-width: 850px) {
  .quiz__wrapper::after {
    display: none;
  }
}
.quiz__wrapper::before {
  content: "";
  position: absolute;
  z-index: 2;
  right: 14%;
  bottom: 85px;
  width: 348px;
  height: 300px;
  background-image: url("./../img/dotted.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .quiz__wrapper::before {
    right: 0;
  }
}
@media (max-width: 850px) {
  .quiz__wrapper::before {
    display: none;
  }
}
.quiz__bg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 88%;
  background-color: #f1e7dc;
  border-top-right-radius: 300px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .quiz__bg {
    border-top-right-radius: 200px;
  }
}
@media (max-width: 1024px) {
  .quiz__bg {
    width: 100%;
    border-top-right-radius: 100px;
  }
}
@media (max-width: 850px) {
  .quiz__bg {
    border-top-right-radius: 0;
  }
}
.quiz__que {
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  color: var(--text-color);
}
@media (max-width: 1024px) {
  .quiz__que {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .quiz__que {
    font-size: 24px;
  }
}
.quiz__vars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 19px;
}
@media (max-width: 768px) {
  .quiz__vars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 6px;
  }
}
.quiz__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.quiz__radio:checked + .quiz__label {
  background-color: #154b8b;
  color: var(--white-color);
}
.quiz__label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #154b8b;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 186px;
  min-height: 107px;
  background-color: var(--white-color);
  -webkit-transition: background-color 0.3s ease-out, color 0.3s ease-out;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
@media (max-width: 768px) {
  .quiz__label {
    max-width: unset;
    min-height: unset;
    padding: 13px;
  }
}
.quiz__slider .swiper-slide {
  position: static;
}
.quiz__slider .swiper-pagination {
  position: relative;
  bottom: unset;
  left: unset;
  right: unset;
  top: unset;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
  padding: 12px 0;
  margin-bottom: 12px;
}
.quiz__slider .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: #c39683;
  margin: 0 12px !important;
}
.quiz__slider .swiper-pagination-bullet-active {
  outline: 1px solid #c39683 !important;
  outline-offset: 7px;
}

.mech {
  padding-top: 110px;
  padding-bottom: 110px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .mech {
    padding: 80px 0;
  }
}
@media (max-width: 768px) {
  .mech {
    padding: 60px 0;
  }
}
.mech__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 55px;
  position: relative;
}
.mech__row:nth-child(1)::after {
  content: "";
  position: absolute;
  left: -99px;
  top: -58px;
  z-index: -1;
  width: 348px;
  height: 300px;
  background-image: url("./../img/dotted-blue.svg");
  opacity: 0.2;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .mech__row:nth-child(1)::after {
    display: none;
  }
}
.mech__row:nth-child(2)::after {
  content: "";
  position: absolute;
  right: -120px;
  top: -93px;
  z-index: -1;
  width: 348px;
  height: 300px;
  opacity: 0.5;
  background-image: url("./../img/dotted-gray-2.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .mech__row:nth-child(2)::after {
    width: 310px;
    height: 268px;
    top: unset;
    bottom: 83px;
  }
}
@media (max-width: 576px) {
  .mech__row:nth-child(2)::after {
    width: 310px;
    height: 268px;
    top: unset;
    right: -100px;
    bottom: 33px;
  }
}
@media (max-width: 1200px) {
  .mech__row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .mech__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 35px;
  }
}
.mech__row:not(:last-child) {
  margin-bottom: 90px;
}
@media (max-width: 768px) {
  .mech__row:not(:last-child) {
    margin-bottom: 50px;
  }
}
.mech__row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .mech__row:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.mech__list {
  padding-left: 20px;
}
.mech__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 43%;
  aspect-ratio: 1/1;
  border-bottom-left-radius: 120px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
@media (max-width: 1200px) {
  .mech__img {
    height: 100%;
  }
}
@media (max-width: 768px) {
  .mech__img {
    border-bottom-left-radius: 0;
    width: 80%;
    aspect-ratio: unset;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}
@media (max-width: 576px) {
  .mech__img {
    width: 100%;
  }
}
.mech__img img {
  width: 100%;
  height: 100%;
}
.mech__video {
  position: relative;
  width: 46%;
}
@media (max-width: 1024px) {
  .mech__video {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .mech__video {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .mech__video {
    width: 100%;
  }
}
.mech__video video {
  width: 100%;
  height: auto;
}
.mech__play {
  position: absolute;
  width: 68px;
  height: 68px;
  background-color: #fff;
  border-radius: 100%;
  z-index: 4;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mech__play svg {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
  object-fit: contain;
}
.mech__title {
  margin-bottom: 10px;
}
.mech__desc:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .mech__desc {
    text-align: justify;
  }
}

.app {
  padding-top: 87px;
  padding-bottom: 100px;
  position: relative;
}
@media (max-width: 1024px) {
  .app {
    padding: 80px 0;
    padding-bottom: 0;
  }
}
@media (max-width: 768px) {
  .app {
    padding: 60px 0;
    padding-bottom: 0;
  }
}
.app__bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 86.6%;
  height: 100%;
  border-top-left-radius: 300px;
  background-color: #f1f3fe;
}
@media (max-width: 1200px) {
  .app__bg {
    border-top-left-radius: 200px;
  }
}
@media (max-width: 1024px) {
  .app__bg {
    border-top-left-radius: 100px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .app__bg {
    border-top-left-radius: 0;
  }
}
.app__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48%;
}
.app__img::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 90%;
  left: 0;
  top: 2%;
  background-image: url("./../img/dotted-wh.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}
@media (max-width: 768px) {
  .app__img::before {
    display: block;
  }
}
@media (max-width: 1024px) {
  .app__img {
    position: relative;
    margin-left: auto;
    margin-top: -100px;
  }
}
@media (max-width: 768px) {
  .app__img {
    margin-top: 0;
    margin: 0 auto;
    width: 100%;
  }
}
.app__img img {
  width: 100%;
}
.app__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .app__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.app__content {
  grid-column: 6/7 span;
}
@media (max-width: 1024px) {
  .app__content {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}
.app__title {
  margin-bottom: 35px;
}
.app__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 0px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .app__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 27px;
  }
}

.app-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 13px;
}
@media (max-width: 768px) {
  .app-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.app-item__fig {
  position: relative;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 80px;
  color: #c39683;
}
.app-item__fig::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 75%;
  width: 30px;
  background-color: #f1f3fe;
  border-right: 1px solid #d1d4e9;
  -webkit-transform: rotate(20deg) translate(-20%, 0%);
  -ms-transform: rotate(20deg) translate(-20%, 0%);
  transform: rotate(20deg) translate(-20%, 0%);
}
.app-item__desc {
  margin: 0;
  font-weight: 300;
  font-size: 17px;
  line-height: 153%;
  color: var(--text-color);
}
@media (max-width: 768px) {
  .app-item__desc {
    font-size: 15px;
    line-height: 167%;
  }
}

.cases {
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (max-width: 1024px) {
  .cases {
    padding: 80px 0;
  }
}
@media (max-width: 576px) {
  .cases {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .cases {
    padding: 60px 0;
  }
}
.cases__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .cases__header {
    margin-bottom: 25px;
  }
}
.cases__title {
  max-width: 800px;
}
@media (max-width: 1024px) {
  .cases__title {
    max-width: 650px;
  }
}
.cases__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 33px;
}
@media (max-width: 768px) {
  .cases__control {
    display: none;
  }
}
.cases__control-mob {
  display: none;
}
@media (max-width: 768px) {
  .cases__control-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
  }
}
.cases__slider-wrapper {
  position: relative;
  border: 2px solid #cfd4f2;
}
@media (max-width: 768px) {
  .cases__slider-wrapper {
    border: none;
  }
}

.cases-item {
  position: relative;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 46px;
  gap: 62px;
}
@media (max-width: 1024px) {
  .cases-item {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .cases-item {
    padding: 0;
    gap: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }
}
.cases-item__dot {
  width: 25px;
  height: 25px;
  background-color: #fff;
  z-index: 25;
}
@media (max-width: 768px) {
  .cases-item__dot {
    display: none;
  }
}
.cases-item__dot:nth-child(1) {
  -webkit-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
}
.cases-item__dot:nth-child(2) {
  -webkit-transform: translate(2px, 2px);
  -ms-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
}
.cases-item__dot:nth-child(2)::before {
  left: unset;
  top: unset;
  right: 0;
  bottom: 0;
  -webkit-transform: unset;
  -ms-transform: unset;
  transform: unset;
}
.cases-item__dot::before {
  left: 0;
  top: 0;
  -webkit-transform: unset;
  -ms-transform: unset;
  transform: unset;
}
.cases-item__video {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 768px) {
  .cases-item__video {
    width: 100%;
  }
}
.cases-item__video video {
  width: 100%;
}
.cases-item__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.cases-item__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--text-color);
}
@media (max-width: 1024px) {
  .cases-item__title {
    font-size: 26px;
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .cases-item__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.cases-item__cap {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  color: #154b8b;
}
@media (max-width: 576px) {
  .cases-item__cap {
    font-size: 18px;
  }
}
.cases-item__list {
  padding-left: 20px;
}
.cases-item__item {
  font-weight: 300;
  font-size: 15px;
  color: var(--text-color);
}
.cases-item__item:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .cases-item__item:not(:last-child) {
    margin-bottom: 6px;
  }
}

.reward {
  position: relative;
  padding: 110px 0;
  padding-bottom: 150px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .reward {
    padding: 60px 0;
  }
}
.reward::before {
  content: "";
  position: absolute;
  left: 0;
  top: -30px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
  width: 588px;
  height: 444px;
  opacity: 0.5;
  background-image: url("./../img/dotted-gray.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.reward__bg {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  border-top-left-radius: 150px;
  width: 32%;
  height: 100%;
  background-color: #f1f3fe;
}
@media (max-width: 768px) {
  .reward__bg {
    border-top-left-radius: 0;
    width: 100%;
  }
}
.reward__container {
  position: relative;
  z-index: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .reward__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.reward__title {
  margin-bottom: 15px;
}
.reward__desc {
  margin-bottom: 23px;
}
@media (max-width: 768px) {
  .reward__btn {
    display: none;
  }
}
.reward__btn-mob {
  display: none;
}
@media (max-width: 768px) {
  .reward__btn-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 576px) {
  .reward__btn-mob {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.reward__image {
  position: relative;
  -webkit-box-shadow: 0 8px 32px 0 rgba(25, 25, 28, 0.12);
  box-shadow: 0 8px 32px 0 rgba(25, 25, 28, 0.12);
  display: inline-block;
}
.reward__image-wrap {
  height: 377px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.reward__image::after {
  content: "";
  position: absolute;
  z-index: -2;
  right: -140px;
  bottom: -60px;
  width: 338px;
  height: 300px;
  background-image: url("./../img/dotted-blue.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .reward__image::after {
    right: -30px;
    bottom: -30px;
    width: 238px;
    height: 200px;
  }
}
.reward__image::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -4px;
  background-image: url("./../img/reward-bg.png");
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .reward__image {
    height: 218px;
    margin-bottom: 40px;
  }
}
.reward__image img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.price {
  background-color: #f1e7dc;
  padding-top: 87px;
  padding-bottom: 110px;
}
@media (max-width: 1024px) {
  .price {
    padding: 80px 0;
  }
}
.price__title {
  margin-bottom: 40px;
}

.price-list {
  margin-bottom: 32px;
}
.price-list__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 17px;
  cursor: pointer;
}
.price-list__desc {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .price-list__desc {
    max-width: 303px;
  }
}
.price-list__item:not(:last-child) {
  margin-bottom: 32px;
}
.price-list__item.active .price-list__btn {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  background-color: var(--accent-color);
}
.price-list__item.active .price-list__btn svg {
  fill: var(--white-color);
}
.price-list__btn {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--white-color);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.price-list__btn svg {
  width: 13px;
  height: 12px;
  -o-object-fit: contain;
  object-fit: contain;
  fill: var(--accent-color);
  -webkit-transition: fill 0.2s ease-in-out;
  transition: fill 0.2s ease-in-out;
}
.price-list__name {
  font-weight: 400;
  font-size: 20px;
  color: var(--text-color);
}
.price-list__content {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  will-change: max-height;
  padding-left: 60px;
}
@media (max-width: 768px) {
  .price-list__content {
    padding-left: 0;
  }
}
.price-list__content,
.price-list__content tbody {
  display: block;
  width: 100%;
}
.price-list__content td {
  font-weight: 300;
  font-size: 17px;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .price-list__content td {
    font-size: 14px;
  }
}
.price-list__content td .bold {
  font-weight: 600;
}
.price-list__content td .acc {
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  color: var(--accent-color);
  padding-right: 36px;
}
.price-list__content td .acc::after {
  content: "";
  position: absolute;
  opacity: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background-image: url("./../img/arrow-circle-acc.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.price-list__content tr {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}
.price-list__content tr:not(:last-child) {
  border-bottom: 1px solid #dddad7;
}
@media (any-hover: hover) {
  .price-list__content tr:hover .acc::after {
    opacity: 1;
  }
}

.faq {
  padding: 104px 0;
  position: relative;
  overflow: hidden;
}
.faq::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  z-index: -1;
  width: 588px;
  height: 444px;
  opacity: 0.5;
  background-image: url("./../img/dotted-gray.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .faq::after {
    display: none;
  }
}
@media (max-width: 1024px) {
  .faq {
    padding: 80px 0;
  }
}
.faq__title {
  margin-bottom: 31px;
}
.faq__list {
  position: relative;
}
.faq__item {
  padding: 24.7px 22px;
  border: 1px solid #e0ddda;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  position: relative;
  background-color: #fff;
  transition: background-color 0.3s ease-out;
}
.faq__item:not(:last-child) {
  margin-bottom: 25px;
}
.faq__item.active {
  background-color: var(--accent-color);
}
.faq__item.active .faq__header {
  padding-bottom: 13px;
}
.faq__item.active .faq__header svg {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  fill: var(--white-color);
}
.faq__item.active .faq__name {
  color: var(--white-color);
}
.faq__header {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  -webkit-transition: padding-bottom 0.3s ease-in;
  transition: padding-bottom 0.3s ease-in;
}
.faq__header::before {
  content: "";
  position: absolute;
  inset: 0;
}
.faq__header svg {
  width: 13px;
  height: 12px;
  -o-object-fit: contain;
  object-fit: contain;
  fill: var(--accent-color);
  -webkit-transition: fill 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: fill 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: fill 0.3s ease-out, transform 0.3s ease-out;
  transition: fill 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.faq__name {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.faq__content {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding-left: 34px;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}
.faq__desc {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  color: var(--white-color);
}
@media (max-width: 576px) {
  .faq__desc {
    font-size: 14px;
  }
}

.contacts {
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #f1f3fe;
  border-top-left-radius: 300px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .contacts {
    border-top-left-radius: 200px;
  }
}
@media (max-width: 1024px) {
  .contacts {
    padding: 80px 0;
    border-top-left-radius: 100px;
  }
}
@media (max-width: 768px) {
  .contacts {
    padding: 60px 0;
    border-top-left-radius: 0;
  }
}
.contacts__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}
@media (max-width: 1440px) {
  .contacts__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .contacts__container {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .contacts__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.contacts__title {
  margin-bottom: 25px;
}
.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .contacts__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}
@media (max-width: 576px) {
  .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.contacts__row:not(:last-of-type) {
  margin-bottom: 33px;
}
@media (max-width: 1200px) {
  .contacts__row:not(:last-of-type) {
    margin-bottom: 15px;
  }
}
.contacts__row:last-of-type {
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .contacts__row:last-of-type {
    margin-bottom: 20px;
  }
}
.contacts__block {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (max-width: 576px) {
  .contacts__btn {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.contacts__name {
  display: block;
  margin-bottom: 13px;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .contacts__name {
    font-size: 14px;
    margin-bottom: 6px;
  }
}
.contacts__val {
  display: block;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  color: var(--text-color);
}
@media (max-width: 1200px) {
  .contacts__val {
    font-size: 22px;
  }
}
.contacts__info {
  display: block;
  font-weight: 300;
  font-size: 15px;
}
@media (max-width: 1200px) {
  .contacts__info {
    margin-top: 5px;
  }
}
.contacts__map {
  height: 100%;
}
@media (max-width: 768px) {
  .contacts__map {
    height: 350px;
  }
}

.modal {
  position: fixed;
  inset: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  z-index: -2;
  -webkit-transition: opacity 0.3s ease-out 0.2s, z-index 0.3s ease-out;
  transition: opacity 0.3s ease-out 0.2s, z-index 0.3s ease-out;
}
.modal.active {
  opacity: 1;
  z-index: 100;
}
.modal__window {
  width: 600px;
  padding: 10px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  background-image: url("./../img/modal-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 605px) {
  .modal__window {
    width: 100%;
    margin: 20px;
  }
}
.modal__content {
  border: 1px solid #ebdcd0;
  padding: 60px;
  position: relative;
}
@media (max-width: 605px) {
  .modal__content {
    padding: 20px;
  }
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal__close svg {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
  object-fit: contain;
}
.modal__desc {
  margin-bottom: 20px;
}

.form__label {
  display: block;
}
.form__label:not(:last-of-type) {
  margin-bottom: 27px;
}
.form__label:last-of-type {
  margin-bottom: 38px;
}
.form__name {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 225%;
  text-transform: uppercase;
  color: var(--text-color);
}
.form__input {
  height: 30px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--text-color);
  background: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 225%;
  text-transform: capitalize;
  color: var(--text-color);
}
.form__input:focus {
  outline: none;
}
.form__btn {
  margin-bottom: 26px;
}
.form__privacy {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 13px;
  line-height: 208%;
  color: #212121;
}
.form__privacy a {
  color: inherit;
  text-decoration: underline;
}

.footer {
  padding: 60px 0;
  background-color: var(--text-color);
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 23px;
  }
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 38px;
}
@media (max-width: 768px) {
  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 23px;
  }
}
.footer__copy {
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}
@media (max-width: 768px) {
  .footer__copy {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .footer__logo {
    height: 60px;
  }
}
@media (max-width: 768px) {
  .footer__logo {
    height: 80px;
  }
}
.footer__logo img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.footer__tel {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  text-align: right;
  color: #fff;
}
@media (max-width: 1200px) {
  .footer__tel {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .footer__tel {
    font-size: 22px;
  }
}
@media (any-hover: hover) {
  .footer__tel:hover {
    text-decoration: underline;
  }
}

.menu {
  position: fixed;
  inset: 0;
  z-index: 99;
  background-color: var(--accent-color);
  display: none;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.menu.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@media (max-width: 1024px) {
  .menu {
    display: block;
  }
}
.menu__window {
  padding: 44px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu__item:not(:last-child) {
  margin-bottom: 20px;
}
.menu__link {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
.menu__tel {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}
@media (any-hover: hover) {
  .menu__tel:hover {
    text-decoration: underline;
  }
}
/*# sourceMappingURL=main.css.map */