<section class="adv container">
  <h2 class="visually-hidden">title</h2>
  <ul class="adv__list list-reset">
    <li class="adv__item">
      Бесплатная консультация
    </li>
    <li class="adv__item">
      Стойкий эффект
    </li>
    <li class="adv__item">
      Без реабилитации
    </li>
    <li class="adv__item">
      Сертифицированное оборудование
    </li>
    <li class="adv__item">
      Сохранение естественной мимики
    </li>
    <li class="adv__item">
      Омоложение без операций
    </li>
  </ul>
</section>