<section class="app">
  <div class="app__bg"></div>
  <div class="app__img">
    <picture>
      <source srcset="./img/app-2x.webp" media="(min-width: 1440px)">
      <source srcset="./img/app.webp">
      <img src="./img/app.png" srcset="./img/app-2x.png" alt="">
    </picture>
  </div>
  <div class="container app__container">
    <div class="app__content">
      <h2 class="title2 app__title">Фото до&nbsp;и&nbsp;после<br>
        РФ-лифтинга Morpheus&nbsp;8</h2>
      <div class="app__items">
        <div class="app__item app-item">
          <span class="app-item__fig">01</span>
          <p class="app-item__desc">Передовой аппарат для RF-лифтинга, который обеспечивает безопасное и эффективное
            омоложение кожи</p>
        </div>
        <div class="app__item app-item">
          <span class="app-item__fig">03</span>
          <p class="app-item__desc">Можно добиться значительного улучшения качества кожи и сократить видимые признаки
            старения</p>
        </div>
        <div class="app__item app-item">
          <span class="app-item__fig">02</span>
          <p class="app-item__desc">Аппарат подходит для лица и тела, а также для людей с различными типами кожи.</p>
        </div>
        <div class="app__item app-item">
          <span class="app-item__fig">04</span>
          <p class="app-item__desc">Аппарат подходит для лица и тела, а также для людей с различными типами кожи</p>
        </div>
      </div>

      <button class="btn-reset btn hero__btn app__btn" data-modal-btn>Получить скидку 10% <img
          src="./img/arrow-circle.svg" alt="&RightArrow;"></button>
    </div>
  </div>
</section>