<section class="cases">
  <div class="container">
    <div class="cases__header">
      <h2 class="title2 cases__title">Послушайте, что говорят пациенты об РФ-лифтинге Morpheuse 8</h2>
      <div class="cases__control">
        <button class="btn-reset cases__btn cases__btn-prev compare__btn">
          <svg width="52" height="51" viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_11369_717)">
              <path
                d="M3.82343 24.7028L51.5 24.7028L51.5 26.2968L3.82343 26.2968L20.18 40.6594L19.1277 41.858L0.500001 25.4998L19.1277 9.1416L20.18 10.3402L3.82343 24.7028Z"
                fill="#212121" />
            </g>
            <defs>
              <clipPath id="clip0_11369_717">
                <rect width="51" height="51" fill="white" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0.5 0)" />
              </clipPath>
            </defs>
          </svg>
        </button>
        <button class="btn-reset cases__btn cases__btn-next compare__btn">
          <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_11369_714)">
              <path
                d="M47.6766 24.7028L-6.80204e-07 24.7028L-7.49875e-07 26.2968L47.6766 26.2968L31.32 40.6594L32.3723 41.858L51 25.4998L32.3723 9.1416L31.32 10.3402L47.6766 24.7028Z"
                fill="#212121" />
            </g>
            <defs>
              <clipPath id="clip0_11369_714">
                <rect width="51" height="51" fill="white" transform="translate(51) rotate(90)" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </div>
    <div class="cases__slider-wrapper">
      <div class="lift__dot cases-item__dot"></div>
      <div class="lift__dot cases-item__dot"></div>
      <div class="cases__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="cases-item">

              <div class="cases-item__video">
                <video src="#" poster="./img/cases-cover.jpg"></video>
                <button class="cases-item__play btn-reset mech__play">
                  <svg width="19" height="22" viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.6562 11.2356L0.0860586 21.9571L0.0860595 0.514091L18.6562 11.2356Z" fill="#C39683" />
                  </svg>
                </button>
              </div>
              <div class="cases-item__content">
                <h3 class="cases-item__title">Кейс 1. Пациенту 57 лет</h3>
                <div class="cases-item__block">
                  <h5 class="cases-item__cap">Жалобы</h5>
                  <ul class="cases-item__list">
                    <li class="cases-item__item">Поплывший овал лица</li>
                    <li class="cases-item__item">Дряблость кожи</li>
                    <li class="cases-item__item">Морщины</li>
                  </ul>
                </div>
                <div class="cases-item__block">
                  <h5 class="cases-item__cap">Задачи</h5>
                  <ul class="cases-item__list">
                    <li class="cases-item__item">Улучшить овал лица</li>
                    <li class="cases-item__item">Рзгладить морщины</li>
                    <li class="cases-item__item">Изменить цвет лица</li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="cases-item">

              <div class="cases-item__video">
                <video src="#" poster="./img/cases-cover.jpg"></video>
                <button class="cases-item__play btn-reset mech__play">
                  <svg width="19" height="22" viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.6562 11.2356L0.0860586 21.9571L0.0860595 0.514091L18.6562 11.2356Z" fill="#C39683" />
                  </svg>
                </button>
              </div>
              <div class="cases-item__content">
                <h3 class="cases-item__title">Кейс 2. Пациенту 57 лет</h3>
                <div class="cases-item__block">
                  <h5 class="cases-item__cap">Жалобы</h5>
                  <ul class="cases-item__list">
                    <li class="cases-item__item">Поплывший овал лица</li>
                    <li class="cases-item__item">Дряблость кожи</li>
                    <li class="cases-item__item">Морщины</li>
                  </ul>
                </div>
                <div class="cases-item__block">
                  <h5 class="cases-item__cap">Задачи</h5>
                  <ul class="cases-item__list">
                    <li class="cases-item__item">Улучшить овал лица</li>
                    <li class="cases-item__item">Рзгладить морщины</li>
                    <li class="cases-item__item">Изменить цвет лица</li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="cases-item">

              <div class="cases-item__video">
                <video src="#" poster="./img/cases-cover.jpg"></video>
                <button class="cases-item__play btn-reset mech__play">
                  <svg width="19" height="22" viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.6562 11.2356L0.0860586 21.9571L0.0860595 0.514091L18.6562 11.2356Z" fill="#C39683" />
                  </svg>
                </button>
              </div>
              <div class="cases-item__content">
                <h3 class="cases-item__title">Кейс 3. Пациенту 57 лет</h3>
                <div class="cases-item__block">
                  <h5 class="cases-item__cap">Жалобы</h5>
                  <ul class="cases-item__list">
                    <li class="cases-item__item">Поплывший овал лица</li>
                    <li class="cases-item__item">Дряблость кожи</li>
                    <li class="cases-item__item">Морщины</li>
                  </ul>
                </div>
                <div class="cases-item__block">
                  <h5 class="cases-item__cap">Задачи</h5>
                  <ul class="cases-item__list">
                    <li class="cases-item__item">Улучшить овал лица</li>
                    <li class="cases-item__item">Рзгладить морщины</li>
                    <li class="cases-item__item">Изменить цвет лица</li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>