<section class="compare">
  <div class="compare__header container">
    <div class="compare__capture">
      <h2 class="title2 compare__title">Фото до и после РФ-лифтинга Morpheus 8</h2>
      <p class="compare__desc">Результаты наших пациентов после процедур</p>
    </div>
    <div class="compare__control">
      <button class="compare__btn compare__btn-prev btn-reset">
        <svg width="52" height="51" viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_11369_717)">
            <path
              d="M3.82343 24.7028L51.5 24.7028L51.5 26.2968L3.82343 26.2968L20.18 40.6594L19.1277 41.858L0.500001 25.4998L19.1277 9.1416L20.18 10.3402L3.82343 24.7028Z"
              fill="#212121" />
          </g>
          <defs>
            <clipPath id="clip0_11369_717">
              <rect width="51" height="51" fill="white" transform="matrix(4.37114e-08 1 1 -4.37114e-08 0.5 0)" />
            </clipPath>
          </defs>
        </svg>
      </button>
      <button class="compare__btn compare__btn-next btn-reset">
        <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_11369_714)">
            <path
              d="M47.6766 24.7028L-6.80204e-07 24.7028L-7.49875e-07 26.2968L47.6766 26.2968L31.32 40.6594L32.3723 41.858L51 25.4998L32.3723 9.1416L31.32 10.3402L47.6766 24.7028Z"
              fill="#212121" />
          </g>
          <defs>
            <clipPath id="clip0_11369_714">
              <rect width="51" height="51" fill="white" transform="translate(51) rotate(90)" />
            </clipPath>
          </defs>
        </svg>
      </button>
    </div>
  </div>
  <div class="container-left container-right swiper compare__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="compare__slide">
          <picture>
            <source srcset="./img/compare/01-2x.webp" media="(min-width: 1440px)">
            <source srcset="./img/compare/01.webp">
            <img src="./img/compare/01.jpg" srcset="./img/compare/01-2x.jpg" alt="">
          </picture>
          <picture>
            <source srcset="./img/compare/02-2x.webp" media="(min-width: 1440px)">
            <source srcset="./img/compare/02.webp">
            <img src="./img/compare/02.jpg" srcset="./img/compare/02-2x.jpg" alt="">
          </picture>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="compare__slide">
          <picture>
            <source srcset="./img/compare/03-2x.webp" media="(min-width: 1440px)">
            <source srcset="./img/compare/03.webp">
            <img src="./img/compare/03.jpg" srcset="./img/compare/03-2x.jpg" alt="">
          </picture>
          <picture>
            <source srcset="./img/compare/04-2x.webp" media="(min-width: 1440px)">
            <source srcset="./img/compare/04.webp">
            <img src="./img/compare/04.jpg" srcset="./img/compare/04-2x.jpg" alt="">
          </picture>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="compare__slide">
          <picture>
            <source srcset="./img/compare/01-2x.webp" media="(min-width: 1440px)">
            <source srcset="./img/compare/01.webp">
            <img src="./img/compare/01.jpg" srcset="./img/compare/01-2x.jpg" alt="">
          </picture>
          <picture>
            <source srcset="./img/compare/02-2x.webp" media="(min-width: 1440px)">
            <source srcset="./img/compare/02.webp">
            <img src="./img/compare/02.jpg" srcset="./img/compare/02-2x.jpg" alt="">
          </picture>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="compare__slide">
          <picture>
            <source srcset="./img/compare/03-2x.webp" media="(min-width: 1440px)">
            <source srcset="./img/compare/03.webp">
            <img src="./img/compare/03.jpg" srcset="./img/compare/03-2x.jpg" alt="">
          </picture>
          <picture>
            <source srcset="./img/compare/04-2x.webp" media="(min-width: 1440px)">
            <source srcset="./img/compare/04.webp">
            <img src="./img/compare/04.jpg" srcset="./img/compare/04-2x.jpg" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>