<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <div class="contacts__content">
      <h2 class="title2 contacts__title">Контакты</h2>
      <address class="contacts__address">
        <div class="contacts__row">
          <a href="tel:78423535555" class="contacts__block">
            <span class="contacts__name">Телефон</span>
            <span class="contacts__val">8 (84235) 3-55-55</span>
          </a>
          <a href="mailto:klinika.mks@yandex.ru" class="contacts__block">
            <span class="contacts__name">e-mail</span>
            <span class="contacts__val">klinika.mks@yandex.ru</span>
          </a>
        </div>
        <div class="contacts__row">
          <div href="tel:78423535555" class="contacts__block">
            <span class="contacts__name">АДРЕС КЛИНИКИ</span>
            <span class="contacts__val">Проспект Автостроителей д. 51</span>
            <span class="contacts__info">Пн-Пт с 7:00 до 18:00; Сб: с 8:00 до 18:00; Вс: выходной</span>
          </div>
        </div>
        <button class="btn hero__btn contacts__btn btn-reset" data-modal-btn>Получить консультацию<img
            src="./img/arrow-circle.svg" alt="&RightArrow;"></button>
      </address>
    </div>
    <div class="contacts__map" id="map"></div>
  </div>
</section>