<header class="header">
  <div class="container header__container">
    <a class="header__logo">
      <img src="./img/logo.svg" alt="">
    </a>
    <nav class="header__nav nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#about" class="nav__link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#results" class="nav__link">Результаты</a>
        </li>
        <li class="nav__item">
          <a href="#testi" class="nav__link">Отзывы</a>
        </li>
        <li class="nav__item">
          <a href="#price" class="nav__link">Цены</a>
        </li>
        <li class="nav__item">
          <a href="#faq" class="nav__link">Вопросы</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
    <a href="tel:+78423535555" class="header__tel">8 (84235) 3-55-55</a>

    <button class="header__burger btn-reset">
      <img src="./img/burger.png" alt="&times;">
    </button>
  </div>
</header>