<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h3 class="hero__subtitle">Минус 10 лет за 40 минут</h3>
      <h1 class="hero__title">Безоперационная подтяжка лица и тела Morpheus 8</h1>
      <p class="hero__desc">Ваша молодость заканчивается, продлевать будете?</p>
      <button class="btn-reset btn hero__btn" data-modal-btn>Да, получить консультацию <img src="./img/arrow-circle.svg"
          alt="&RightArrow;"></button>
    </div>
    <div class="hero__girl">
      <picture>
        <source srcset="./img/girl-2x.webp" media="(min-width: 1440px)">
        <source srcset="./img/girl.webp">
        <img src="./img/girl.png" srcset="./img/girl-2x.png">
      </picture>
    </div>
  </div>
</section>