<section class="lifting">
  <div class="lifting__bg"></div>
  <div class="container lifting__container">
    <div class="lifting__text">
      <div class="lifting__content">
        <h2 class="title2 lifting__title">Микроигольчатый RF лифтинг MORPHEUS 8 поможет!</h2>
        <div class="lifting__proc proc">
          <span class="proc__fig">15</span>
          <div class="proc__sep"></div>
          <span class="proc__text">Процедур с омолаживающим и лечебным эффектом</span>
        </div>
        <div class="lifting__proc proc">
          <span class="proc__fig">14</span>
          <div class="proc__sep"></div>
          <span class="proc__text">Участков воздействия на лице и теле</span>
        </div>
        <button class="btn btn-reset hero__btn lifting__btn" data-modal-btn>Получить скидку 10% <img
            src="./img/arrow-circle.svg" alt="&RightArrow;"></button>
      </div>
    </div>
    <div class="lifting__items">
      <article class="lifting__item lift">
        <div class="lift__dot"></div>
        <div class="lift__dot"></div>
        <div class="lift__img-wrap">
          <div class="lift__img">
            <img src="./img/lift/01.webp" alt="">
          </div>
          <h4 class="lift__title lift__title--mob">Лицо</h4>
        </div>
        <div class="lift__char">
          <h4 class="lift__title">Лицо</h4>
          <ul class="lift__list">
            <li class="lift__item">Морщины лица</li>
            <li class="lift__item">Гравитационный птоз</li>
            <li class="lift__item">Расширенные поры</li>
            <li class="lift__item">Неровная текстура и микрорельеф кожи</li>
            <li class="lift__item">Акне 1, 2 степени тяжести</li>
            <li class="lift__item">Выраженные носогубные складки</li>
            <li class="lift__item">Сниженный тургор и эластичность кожи</li>
            <li class="lift__item">Укрепление и стимуляция роста волос</li>
          </ul>
        </div>
      </article>
      <article class="lifting__item lift">
        <div class="lift__dot"></div>
        <div class="lift__dot"></div>
        <div class="lift__img-wrap">
          <div class="lift__img">
            <img src="./img/lift/02.webp" alt="">
          </div>
          <h4 class="lift__title lift__title--mob">Тело</h4>
        </div>
        <div class="lift__char">
          <h4 class="lift__title">Тело</h4>
          <ul class="lift__list">
            <li class="lift__item">Морщины на шее (кольца Венеры)</li>
            <li class="lift__item">Потеря упругости кистей рук</li>
            <li class="lift__item">Лифтинг кожи всего тела</li>
            <li class="lift__item">Последствия ожогов и обморожений</li>
            <li class="lift__item">Интимное омоложение</li>
            <li class="lift__item">Снижение тонуса и эластичности кожи (в том числе локтей и коленей)</li>
            <li class="lift__item">Дряблость и атония кожи рук, внутренней поверхности бедра</li>
          </ul>
        </div>
      </article>
      <article class="lifting__item lift">
        <div class="lift__dot"></div>
        <div class="lift__dot"></div>
        <div class="lift__img-wrap">
          <div class="lift__img">
            <img src="./img/lift/03.webp" alt="">
          </div>
          <h4 class="lift__title lift__title--mob">Кожа</h4>
        </div>
        <div class="lift__char">
          <h4 class="lift__title">Кожа</h4>
          <ul class="lift__list">
            <li class="lift__item">Расширенные поры</li>
            <li class="lift__item">Шрамы</li>
            <li class="lift__item">Стрии</li>
            <li class="lift__item">Хирургические рубцы</li>
            <li class="lift__item">Рубцы постакне</li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</section>