<section class="mech">
  <div class="container">
    <div class="mech__row">
      <div class="mech__img">
        <picture>
          <source srcset="./img/mech/01-2x.webp" media="(min-width: 1440px)">
          <source srcset="./img/mech/01.webp">
          <img src="./img/mech/01.jpg" srcset="./img/mech/01-2x.jpg" alt="">
        </picture>
      </div>
      <div class="mech__content">
        <h2 class="mech__title title2">Механизм действия
          РФ-лифтинга
          Morpheus 8
        </h2>
        <p class="desc mech__desc">RF-лифтинг обеспечивает тепловой эффект в дерме и гиподерме. Под воздействием тепла
          повышается кровообращение, которое стимулирует обмен веществ в клетках и уплотняет соединительную ткань.
          Радиочастотный ток сокращает имеющиеся коллагеновые волокна, устраняет провисания и повышает тургор кожи.
        </p>
        <p class="desc mech__desc">RF-лифтинг лица и тела проводится на израильском микроигольчатом радиочастотном
          аппарате Morpheus 8. Первичный результат заметен после первой процедуры, а в течение 21 дня эффект омоложения
          продолжает нарастать. За это время образуется неоколлаген, устраняющий носогубные складки, «гусиные лапки» в
          области глаз и несовершенства кожи.
        </p>
      </div>
    </div>
    <div class="mech__row">
      <div class="mech__video" data-video-wrap>
        <button class="btn-reset mech__play" data-video-play>
          <svg width="19" height="22" viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.8828 10.9724L0.312621 21.6939L0.312622 0.250907L18.8828 10.9724Z" fill="#C39683" />
          </svg>
        </button>
        <video src="./cover.mp4" poster="./img/mech/cover.jpg" data-video>

        </video>
      </div>
      <div class="mech__content">
        <h2 class="mech__title title2">Как проводится процедура</h2>
        <ul class="desc mech__list">
          <li>Очищение кожи</li>
          <li>Нанесение анестезии</li>
          <li>Проработка кожи по определенным векторам манипулой аппарат</li>
          <li>Удаление остатков геля и нанесение питательной маски </li>
        </ul>
      </div>
    </div>
  </div>
</section>