<div class="menu">
  <div class="menu__window">
    <nav class="menu__nav">
      <ul class="menu__list list-reset">
        <li class="menu__item">
          <a href="#about" class="menu__link">О нас</a>
        </li>
        <li class="menu__item">
          <a href="#results" class="menu__link">Результаты</a>
        </li>
        <li class="menu__item">
          <a href="#testi" class="menu__link">Отзывы</a>
        </li>
        <li class="menu__item">
          <a href="#price" class="menu__link">Цены</a>
        </li>
        <li class="menu__item">
          <a href="#faq" class="menu__link">Вопросы</a>
        </li>
        <li class="menu__item">
          <a href="#contacts" class="menu__link">Контакты</a>
        </li>
      </ul>
    </nav>
    <a href="tel:+78423535555" class="menu__tel">8 (84235) 3-55-55</a>
  </div>
</div>