<section class="method">
  <div class="container method__container">
    <div class="method__img">
      <picture>
        <source srcset="./img/device-2x.webp" media="(min-width: 1920px)">
        <source srcset="./img/device.webp">
        <img src="./img/device.png" alt="device" srcset="./img/device-2x.png">
      </picture>
    </div>
    <div class="method__content">
      <h2 class="title2 method__title">Инновационная методика, направленная на безоперационную подтяжку лица и тела</h2>
      <p class="desc method__desc">С помощью этой технологии, всего за несколько сеансов можно добиться такого же
        результата, как после хирургического SMAS-лифтинга, исключая риск возникновения осложнений и период
        реабилитации.
      </p>
      <p class="desc method__desc">RF-лифтинг (РФ-лифтинг) лица и тела проводится на израильском микроигольчатом
        радиочастотном аппарате Morpheus 8. Первичный результат заметен после первой процедуры, а в течение 21 дня
        эффект омоложения продолжит нарастать.
      </p>
    </div>
  </div>
</section>