<section class="price" id="price">
  <div class="container">
    <h2 class="title2 price__title">Цены на услуги</h2>
    <ul class="list-reset price__list price-list">
      <li class="price-list__item" data-accord>
        <div class="price-list__header" data-accord-btn>
          <button class="price-list__btn btn-reset">
            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.731153 7.80225L6.571 13.6472C6.80967 13.8858 7.19561 13.8858 7.43428 13.6472L13.2741 7.80225C13.5128 7.56357 13.5128 7.17764 13.2741 6.93896L12.9237 6.58857C12.6851 6.3499 12.289 6.3499 12.0554 6.59873L7.86592 10.9405L7.86592 1.27686C7.86592 0.941699 7.5917 0.66748 7.25654 0.66748L6.74873 0.66748C6.41357 0.66748 6.13936 0.941699 6.13936 1.27686L6.13936 10.9405L1.9499 6.59365C1.71123 6.3499 1.32021 6.34482 1.08154 6.5835L0.731153 6.93389C0.49248 7.17764 0.49248 7.56357 0.731153 7.80225Z" />
            </svg>
          </button>
          <span class="price-list__name">Лицо и шея</span>
        </div>
        <table class="price-list__content" data-accord-content>
          <tbody>
            <tr data-modal-btn>
              <td>Веки</td>
              <td>60 мин</td>
              <td><span class="bold">16 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Лицо</td>
              <td>90 мин</td>
              <td><span class="bold">23 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Шея</td>
              <td>90 мин</td>
              <td><span class="bold">21 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Щеки</td>
              <td>90 мин</td>
              <td><span class="bold">19 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="price-list__item" data-accord>
        <div class="price-list__header" data-accord-btn>
          <button class="price-list__btn btn-reset">
            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.731153 7.80225L6.571 13.6472C6.80967 13.8858 7.19561 13.8858 7.43428 13.6472L13.2741 7.80225C13.5128 7.56357 13.5128 7.17764 13.2741 6.93896L12.9237 6.58857C12.6851 6.3499 12.289 6.3499 12.0554 6.59873L7.86592 10.9405L7.86592 1.27686C7.86592 0.941699 7.5917 0.66748 7.25654 0.66748L6.74873 0.66748C6.41357 0.66748 6.13936 0.941699 6.13936 1.27686L6.13936 10.9405L1.9499 6.59365C1.71123 6.3499 1.32021 6.34482 1.08154 6.5835L0.731153 6.93389C0.49248 7.17764 0.49248 7.56357 0.731153 7.80225Z" />
            </svg>
          </button>
          <span class="price-list__name">Тело</span>
        </div>
        <table class="price-list__content" data-accord-content>
          <tbody>
            <tr data-modal-btn>
              <td>Веки</td>
              <td>60 мин</td>
              <td><span class="bold">16 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Лицо</td>
              <td>90 мин</td>
              <td><span class="bold">23 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Шея</td>
              <td>90 мин</td>
              <td><span class="bold">21 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Щеки</td>
              <td>90 мин</td>
              <td><span class="bold">19 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="price-list__item" data-accord>
        <div class="price-list__header" data-accord-btn>
          <button class="price-list__btn btn-reset">
            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.731153 7.80225L6.571 13.6472C6.80967 13.8858 7.19561 13.8858 7.43428 13.6472L13.2741 7.80225C13.5128 7.56357 13.5128 7.17764 13.2741 6.93896L12.9237 6.58857C12.6851 6.3499 12.289 6.3499 12.0554 6.59873L7.86592 10.9405L7.86592 1.27686C7.86592 0.941699 7.5917 0.66748 7.25654 0.66748L6.74873 0.66748C6.41357 0.66748 6.13936 0.941699 6.13936 1.27686L6.13936 10.9405L1.9499 6.59365C1.71123 6.3499 1.32021 6.34482 1.08154 6.5835L0.731153 6.93389C0.49248 7.17764 0.49248 7.56357 0.731153 7.80225Z" />
            </svg>
          </button>
          <span class="price-list__name">Ноги</span>
        </div>
        <table class="price-list__content" data-accord-content>
          <tbody>
            <tr data-modal-btn>
              <td>Веки</td>
              <td>60 мин</td>
              <td><span class="bold">16 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Лицо</td>
              <td>90 мин</td>
              <td><span class="bold">23 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Шея</td>
              <td>90 мин</td>
              <td><span class="bold">21 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Щеки</td>
              <td>90 мин</td>
              <td><span class="bold">19 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="price-list__item" data-accord>
        <div class="price-list__header" data-accord-btn>
          <button class="price-list__btn btn-reset">
            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.731153 7.80225L6.571 13.6472C6.80967 13.8858 7.19561 13.8858 7.43428 13.6472L13.2741 7.80225C13.5128 7.56357 13.5128 7.17764 13.2741 6.93896L12.9237 6.58857C12.6851 6.3499 12.289 6.3499 12.0554 6.59873L7.86592 10.9405L7.86592 1.27686C7.86592 0.941699 7.5917 0.66748 7.25654 0.66748L6.74873 0.66748C6.41357 0.66748 6.13936 0.941699 6.13936 1.27686L6.13936 10.9405L1.9499 6.59365C1.71123 6.3499 1.32021 6.34482 1.08154 6.5835L0.731153 6.93389C0.49248 7.17764 0.49248 7.56357 0.731153 7.80225Z" />
            </svg>
          </button>
          <span class="price-list__name">Руки</span>
        </div>
        <table class="price-list__content" data-accord-content>
          <tbody>
            <tr data-modal-btn>
              <td>Веки</td>
              <td>60 мин</td>
              <td><span class="bold">16 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Лицо</td>
              <td>90 мин</td>
              <td><span class="bold">23 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Шея</td>
              <td>90 мин</td>
              <td><span class="bold">21 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Щеки</td>
              <td>90 мин</td>
              <td><span class="bold">19 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="price-list__item" data-accord>
        <div class="price-list__header" data-accord-btn>
          <button class="price-list__btn btn-reset">
            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.731153 7.80225L6.571 13.6472C6.80967 13.8858 7.19561 13.8858 7.43428 13.6472L13.2741 7.80225C13.5128 7.56357 13.5128 7.17764 13.2741 6.93896L12.9237 6.58857C12.6851 6.3499 12.289 6.3499 12.0554 6.59873L7.86592 10.9405L7.86592 1.27686C7.86592 0.941699 7.5917 0.66748 7.25654 0.66748L6.74873 0.66748C6.41357 0.66748 6.13936 0.941699 6.13936 1.27686L6.13936 10.9405L1.9499 6.59365C1.71123 6.3499 1.32021 6.34482 1.08154 6.5835L0.731153 6.93389C0.49248 7.17764 0.49248 7.56357 0.731153 7.80225Z" />
            </svg>
          </button>
          <span class="price-list__name">Комплекс</span>
        </div>
        <table class="price-list__content" data-accord-content>
          <tbody>
            <tr data-modal-btn>
              <td>Веки</td>
              <td>60 мин</td>
              <td><span class="bold">16 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Лицо</td>
              <td>90 мин</td>
              <td><span class="bold">23 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Шея</td>
              <td>90 мин</td>
              <td><span class="bold">21 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
            <tr data-modal-btn>
              <td>Щеки</td>
              <td>90 мин</td>
              <td><span class="bold">19 000 руб.</span></td>
              <td><span class="acc">Записаться</span></td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
    <p class="price-list__desc">Принимаем к оплате банковские карты, наличные или переврды QR/СПБ</p>
  </div>
</section>