<section class="quiz">
  <div class="quiz__bg"></div>
  <div class="container">
    <h2 class="title2 quiz__title">Подберите процедуру</h2>
    <p class="quiz__desc">
      Ответьте на несколько вопросов и зафиксируйте персональную скидку до 10%
    </p>

    <form action="post" class="quiz__form">
      <div class="quiz__slider swiper">
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="quiz__slide">
              <h4 class="quiz__que">Какая область нуждается в коррекции?</h4>
              <div class="quiz__vars">
                <input id="face" class="quiz__radio" type="radio" name="area" value="Лицо и шея">
                <label for="face" class="quiz__label">Лицо и шея</label>
                <input id="body" class="quiz__radio" type="radio" name="area" value="Тело">
                <label for="body" class="quiz__label">Тело</label>
                <input id="zone" class="quiz__radio" type="radio" name="area" value="Интимные зоны">
                <label for="zone" class="quiz__label">Интимные зоны</label>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="quiz__slide">
              <h4 class="quiz__que">Какая область нуждается в коррекции?</h4>
              <div class="quiz__vars">
                <input id="other1" class="quiz__radio" type="radio" name="area" value="Лицо и шея">
                <label for="other1" class="quiz__label">Лицо и шея</label>
                <input id="other2" class="quiz__radio" type="radio" name="area" value="Тело">
                <label for="other2" class="quiz__label">Тело</label>
                <input id="other3" class="quiz__radio" type="radio" name="area" value="Интимные зоны">
                <label for="other3" class="quiz__label">Интимные зоны</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</section>