<section class="quiz" id="cta">
  <div class="quiz__wrapper">
    <div class="quiz__bg">
      <div class="quiz__images swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="quiz__image">
              <picture>
                <source srcset="./img/body/01-2x.webp" media="(min-width: 1400px)">
                <source srcset="./img/body/01.webp">
                <img src="./img/body/01.png" srcset="./img/body/01-2x.png 2x" alt="">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="quiz__image quiz__image--contain">
              <picture>
                <source srcset="./img/body/02-2x.webp" media="(min-width: 1400px)">
                <source srcset="./img/body/02.webp">
                <img src="./img/body/02.png" srcset="./img/body/02-2x.png 2x" alt="">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="quiz__image">
              <picture>
                <source srcset="./img/body/03-2x.webp" media="(min-width: 1400px)">
                <source srcset="./img/body/03.webp">
                <img src="./img/body/03.png" srcset="./img/body/03-2x.png 2x" alt="">
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="quiz__image">
              <picture>
                <source srcset="./img/body/04-2x.webp" media="(min-width: 1400px)">
                <source srcset="./img/body/04.webp">
                <img src="./img/body/04.png" srcset="./img/body/04-2x.png 2x" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <h2 class="title2 quiz__title">Подберите процедуру</h2>
    <p class="quiz__desc">
      Ответьте на несколько вопросов и зафиксируйте персональную скидку до 10%
    </p>

    <form action="post" class="quiz__form">
      <div class="quiz__slider swiper swiper-no-swiping" effect="fade">
        <div class="swiper-pagination quiz-pagination"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="quiz__slide">
              <h4 class="quiz__que">Какая область нуждается в коррекции?</h4>
              <div class="quiz__vars">
                <input id="face" class="quiz__radio" type="radio" name="area" value="Лицо и шея">
                <label for="face" class="quiz__label">Лицо и шея</label>
                <input id="body" class="quiz__radio" type="radio" name="area" value="Тело">
                <label for="body" class="quiz__label">Тело</label>
                <input id="zone" class="quiz__radio" type="radio" name="area" value="Интимные зоны">
                <label for="zone" class="quiz__label">Интимные зоны</label>
              </div>

            </div>
          </div>
          <div class="swiper-slide">
            <div class="quiz__slide">
              <h4 class="quiz__que">Вопрос 2?</h4>
              <div class="quiz__vars">
                <input id="other1" class="quiz__radio" type="radio" name="q2" value="Вопрос2 Ответ1">
                <label for="other1" class="quiz__label">Вопрос2 Ответ1</label>
                <input id="other2" class="quiz__radio" type="radio" name="q2" value="Вопрос2 Ответ2">
                <label for="other2" class="quiz__label">Вопрос2 Ответ2</label>
                <input id="other3" class="quiz__radio" type="radio" name="q2" value="Вопрос2 Ответ3">
                <label for="other3" class="quiz__label">Вопрос2 Ответ3</label>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="quiz__slide">
              <h4 class="quiz__que">Вопрос 3?</h4>
              <div class="quiz__vars">
                <input id="other4" class="quiz__radio" type="radio" name="q3" value="Вопрос3 Ответ1">
                <label for="other4" class="quiz__label">Вопрос3 Ответ1</label>
                <input id="other5" class="quiz__radio" type="radio" name="q3" value="Вопрос3 Ответ2">
                <label for="other5" class="quiz__label">Вопрос3 Ответ2</label>
                <input id="other6" class="quiz__radio" type="radio" name="q3" value="Вопрос3 Ответ3">
                <label for="other6" class="quiz__label">Вопрос3 Ответ3</label>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="quiz__slide">
              <div class="form form--quiz">
                <label class="form__label">
                  <span class="form__name">фио</span>
                  <input type="text" class="form__input form-name">
                </label>
                <label class="form__label">
                  <span class="form__name">номер телефона</span>
                  <input type="tel" class="form__input form-tel">
                </label>
                <button type="submit" class="btn-reset hero__btn btn form__btn">Отправить заявку<img
                    src="./img/arrow-circle.svg" alt="&RightArrow;"></button>
              </div>
              <p class="form__privacy">Оставляя заявку я соглашаюсь с <a href="#">Политикой конфиденциальности</a></p>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>

</section>