<section class="reward" id="about">
  <div class="reward__bg"></div>
  <div class="container reward__container">
    <div class="reward__content">
      <h2 class="title2 reward__title">
        Премия ПроДокторов
        ТОП-10
      </h2>
      <p class="desc reward__desc">Мы стали лауреатом Всероссийской Премии ПроДокторов-2023 в номинации “Лучшая частная
        клиника”.</p>
      <p class="desc reward__desc">ТОП-10 частных клиник Ульяновской области по мнению пациентов на 1 ноября 2023 года.
      </p>
      <button class="btn-reset hero__btn reward__btn btn" data-modal-btn>Получить консультацию<img
          src="./img/arrow-circle.svg" alt=""></button>
    </div>
    <div class="reward__image-wrap">
      <div class="reward__image">
        <picture>
          <source srcset="./img/reward-2x.webp" media="(min-width: 1441px)">
          <source srcset="./img/reward.webp">
          <img src="./img/reward.jpg" srcset="./img/reward-2x.jpg 2x" alt="">
        </picture>
      </div>
    </div>
    <button class="btn-reset hero__btn reward__btn-mob btn" data-modal-btn>Получить консультацию<img
        src="./img/arrow-circle.svg" alt=""></button>
  </div>
</section>